body {
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 83%);
}

.responsive {
  width: 50%;
  height: auto;
}

img {
  padding: 15px;
}

.displayBox {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.scroll-box {
  overflow-y: auto;
  height: 500px;
  float: left;
  padding: 1rem;
}